body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ListePersonne{
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.Add {
  background-color: #3a544a28;
  width: 95%;
  border: 4px solid rgba(0, 0, 0, 0.282);
  border-radius: 5px;
  color: rgb(0, 0, 0);

}
.flex-container > div {
  padding: 30px;
  width: auto;
  padding: 30px;
  background-color: #f1f1f1;
}
.form-control input {
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
input[type=text] {
  background-color: #3a544a28;
  border: 4px solid rgba(0, 0, 0, 0.282);
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

